<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Nop Commerce Testcases">
    <parameter name="browser" value=""/>
    <suite-files>
        <suite-file path="Sprint1_Chrome.xml"/>
        <suite-file path="Sprint2_Chrome.xml"/>
        <suite-file path="Sprint3_Chrome.xml"/>
        <suite-file path="Sprint1_Firefox.xml"/>
        <suite-file path="Sprint2_Firefox.xml"/>
        <suite-file path="Sprint3_Firefox.xml"/>
    </suite-files>
</suite>